/* Set the width of the sidebar */
.sidebar {
  width: 250px;
  padding-top: 10px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  /* Enable vertical scrolling if content exceeds height */
}

/* Style sidebar links */
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.sidebar-logo {
  padding: 10px 15px;
  margin-bottom: 3%;
  width: 85%;
}

/* Change color on hover */
.sidebar .sidebtn:hover {
  background-color: var(--bs-secondary-bg-subtle);
  border-left: 5px solid;
  border-image: linear-gradient(135deg, #b6359c, #ef0a6a)
    /*Enter face theme*/
    1;
  transition: all ease-in-out .3s;
}

.active {
  background-color: var(--bs-secondary-bg-subtle);
  border-left: 5px solid;
  border-image: linear-gradient(135deg, #b6359c, #ef0a6a)
    /*Enter face theme*/
    1;
}

.bot-buttons {
  position: absolute;
  bottom: 2.5%;
  padding: 0 10%;
  width: 100%;
}

.content {
  margin-left: 250px;
}

/* logout button */
.logout-btn {
  width: 70%;
  margin-left: 5%;
}

.sittings-btn {
  width: 25%;
}

.login-body {
  padding: 2%;
}

[data-bs-theme=dark] .login-body {
  background-color: var(--bs-dark-bg-subtle);
}

.login-container {
  border-radius: 30px;
  margin: auto;
  width: 60%;
  padding: 5%;
}

.login-btn {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 1%;
}

.login-body a {
  margin-left: 48%;
  margin-right: 52%;
}

.login-image {
  width: 20%;
  margin-top: 3%;
  margin-left: 50%;
}

.login-title {
  font-weight: bold;
  margin-bottom: 5%;
}

.btn-primary {
  background: linear-gradient(135deg, #b6359c, #ef0a6a);
  /*Enter face theme*/
  border-color: transparent;
}

.btn-secondry {
  border-color: linear-gradient(135deg, #b6359c, #ef0a6a);
  color: linear-gradient(135deg, #b6359c, #ef0a6a);
  background-color: transparent;
}

/* Change color on hover */
.btn-primary:hover {
  background: linear-gradient(135deg, #b6359c, #b6359c);
  border-color: transparent;
}

.flash-messages {
  animation: hideMessage forwards;
  animation-duration: 3s;
  animation-delay: 5s;
}

#vid-container {
  position: relative;
  width: min-content;
}

#vid_feed {
  display: block;
}

#vid_disabled {
  width: min-content;
}

/* #capture-btn {
  position: absolute;
  bottom: 0;
  left: 270px;
  z-index: 1;
  margin: 1rem;
} */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background: linear-gradient(135deg, #b6359c, #ef0a6a);
  border-color: transparent;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

@keyframes hideMessage {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
  }
}