<!DOCTYPE html>
<html lang="en" data-bs-theme="{% if 'theme' in session %}{{ session['theme'] }}{% else %}light{% endif %}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter Face</title>
  <link rel="icon" href="static\images\Enter_Face_icon_no_wallpaper_no_name.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  {% block head %}{% endblock %}
</head>

<body class="bg-body-tertiary d-flex align-items-stretch">


  <!-- Sidebar -->
  <div class="bg-body shadow sidebar">
    <image class="card-img-top sidebar-logo"
      src="{% if session['theme'] == 'dark' %} static\images\Enter_Face_no_wallpaper.png {% else %} static\images\Enter_Face_Dark.png {% endif %}">
    </image>
    <a class="sidebtn text-body {% if request.endpoint == 'dashboard' %}active{% endif %}"
      href="{{url_for('dashboard')}}"><i class="bi bi-columns-gap"></i> Dashboared</a>
    <a class="sidebtn text-body {% if request.endpoint == 'registerdUsers' %}active{% endif %}"
      href="{{url_for('registerdUsers')}}"><i class="bi bi-people"></i> Registerd Users</a>
    <a class="sidebtn text-body {% if request.endpoint == 'history' %}active{% endif %}"
      href="{{url_for('history')}}"><i class="bi bi-clock-history"></i> History</a>
    <a class="sidebtn text-body {% if request.endpoint == 'newUser' %}active{% endif %}"
      href="{{url_for('newUser')}}"><i class="bi bi-person-add"></i> New user</a>

    <div class="bot-buttons d-flex">
      {% if session['theme'] == 'light' %}
      <a type="button" class="btn btn-primary bot-btn m-2 d-flex justify-content-center align-items-center"
        href="{{ url_for('setTheme', set_theme='dark') }}" role="button" title="siwtch to dark theme"><i
          class="bi bi-moon"></i></a>
      {% elif session['theme'] == 'dark' %}
      <a type="button" class="btn btn-primary bot-btn m-2 d-flex justify-content-center align-items-center"
        href="{{ url_for('setTheme', set_theme='light') }}" role="button" title="siwtch to light theme"><i
          class="bi bi-brightness-high"></i></a>
      {% else %}
      <a type="button" class="btn btn-primary bot-btn m-2 d-flex justify-content-center align-items-center"
        href="{{ url_for('setTheme', set_theme='dark') }}" role="button" title="siwtch to dark theme"><i
          class="bi bi-moon"></i></a>
      {% endif %}
      <button type="button" class="btn btn-primary bot-btn m-2" data-toggle="modal" data-target=".settings"
        title="settings"><i class="bi bi-gear"></i></button>
      <button type="button" class="btn btn-primary bot-btn m-2" data-toggle="modal" data-target=".bs-example-modal-sm"
        title="logout"><i class="bi bi-box-arrow-right"></i></button>


    </div>

  </div>

  <!-- logout modal -->
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Logout <i class="fa fa-lock"></i></h4>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" title="cancel"></button>
        </div>
        <div class="modal-body">
          <i class="fa fa-question-circle"></i> Are you sure you want to log-off?
        </div>
        <div class="modal-footer">
          <a href="{{url_for('logout')}}" class="btn btn-danger btn-block">Logout</a>
        </div>       
      </div>
    </div>
  </div>

  <!-- settings modal -->
  <div class="modal settings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Settings <i class="fa fa-lock"></i></h4>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" title="cancel"></button>
        </div>
        <div class="modal-body"><i class="fa fa-question-circle"></i>
          <h6>Update acount info: </h6>
          <form action="{{url_for('updateSettings')}}" method="post">
            <input type="password" class="form-control shadow-sm " id="inputPassword2" name="current_password"
              placeholder="current password">
            <br>
            <input type="password" class="form-control shadow-sm " id="inputPassword3" name="new_password"
              placeholder="new password">
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-block ">Apply</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid p-3 content">

    {% block title %}{% endblock %}
    <div class="container-title ">
      <!-- flash messeges -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, msg in messages %}
      {% if category == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show flash-messages" role="alert">
        <i class="bi bi-exclamation-triangle"></i> {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% elif category == 'info' %}
      <div class="alert alert-info alert-dismissible fade show flash-messages" role="alert">
        <i class="bi bi-info-circle"></i> {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% else %}
      <div class="alert alert-success alert-dismissible fade show flash-messages" role="alert">
        <i class="bi bi-check-circle"></i> {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    {% block body %}{% endblock %}
  </div>

  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>