{% extends 'index.html' %}

{% block head %}{% endblock %}
{% block title %}<h2>New User</h2>{% endblock %}
{% block body %}
<form id="form" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User Name:</label>
        <input type="text" class="form-control shadow-sm" name="username" id="username">
    </div>

    <!-- Toggle switch -->
    <div class="switch-container mb-3">
        <label>Enable Webcam </label>
        <label class="switch">
            <input id="vid_toggle" onchange="toggleVideo(this)" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>

    <div class="row">
        <div class="vid-container col border p-4">
            <!-- Video disabled placeholder -->
            <div id="vid_disabled">
                <img class="rounded-sm mx-auto rounded" src="static\images\webcam_disabled.png" width="640px"
                    height="480px">
            </div>
            <!-- Video feed -->
            <div id="vid-container" style="display: none;">
                <video id="vid_feed" class="rounded-sm"></video>
            </div>
            <br>
            <button class="btn btn-outline-primary w-100" id="capture-btn" type="button" disabled>Capture</button>
        </div>
        <div class="capture-grid col border p-2">
            <!-- Image capture -->
            <canvas id="canvas" style="display: none;"></canvas>
            <div class="row row-cols-2 row-cols-lg-5 g-1 g-lg-3" id="outputs">
            </div>
        </div>
    </div>
    <br>
    <button class="btn btn-primary w-100 p-2" id="submit-btn" type="submit">Submit</button>
    <!-- <p>OR you can upload:</p>

    <div class="input-group mb-3">
        <input type="file" class="form-control shadow-sm" id="inputGroupFile02" name="file" required>
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>

    <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add User</button> -->

</form>
<script>
    let form = document.getElementById("form");
    let submitBtn = document.getElementById("submit-btn");
    let video = document.getElementById("vid_feed");
    let canvas = document.getElementById("canvas");
    let outputs = document.getElementById("outputs");
    let captureBtn = document.getElementById("capture-btn");
    let numPictures = 0;

    const width = 640;
    const height = 480;
    const streaming = false;

    let images = [];

    video.setAttribute("width", width);
    video.setAttribute("height", height);
    canvas.setAttribute("width", width);
    canvas.setAttribute("height", height);

    let timeout;
    captureBtn.addEventListener(
        "mousedown",
        (e) => {
            mouseIsDown(e);
            timeout = setInterval(() => {
                mouseIsDown(e);
            }, 50);
        },
    );

    function mouseIsDown(e) {
        takepicture();
    }

    captureBtn.addEventListener(
        "mouseup",
        (e) => {
            clearInterval(timeout);
        },
    );

    captureBtn.addEventListener("click", e => e.preventDefault());
    submitBtn.addEventListener("click", (e) => {
        let formData = new FormData();
        formData.append("username", document.getElementById("username").value);
        for (let i = 0; i < images.length; i++) {
            formData.append(`img[${i}]`, images[i])
        }
        try {
            let response = fetch("{{url_for('newUser')}}", {
                method: "post",
                body: formData,
            });
        } catch (e) {
            alert(e);
        }
        // clearpictures();
        e.preventDefault();
        // setTimeout(() => {
        //     window.location.reload();
        // }, 200);
    });

    window.onload = function () {
        document.getElementById("vid_toggle").checked = false;
        document.getElementById("username").value = "";
        captureBtn.disabled = true;
    }

    function toggleVideo(e) {
        if (e.checked) {
            navigator.mediaDevices.getUserMedia({ video: true, audio: false })
                .then(function (stream) {
                    video.srcObject = stream
                    video.play();
                })
                .catch(function (err) {
                    console.log("An error occurred! " + err);
                })
            document.getElementById("vid_disabled").style.display = "none";
            document.getElementById("vid-container").style.display = "block";
            captureBtn.removeAttribute("disabled");
        } else {
            navigator.mediaDevices.getUserMedia({ video: true, audio: false })
                .then(function (stream) {
                    stream.getTracks().forEach(function (track) {
                        track.stop();
                    })
                })
                .catch(function (err) {
                    console.log("An error occurred! " + err);
                });
            video.srcObject = null;
            document.getElementById("vid-container").style.display = "none";
            document.getElementById("vid_disabled").style.display = "block";
            captureBtn.setAttribute("disabled", true);
        }
    }

    function clearpictures() {
        outputs.replaceChildren();
    }

    function takepicture() {
        if (outputs.childNodes.length >= 53) {
            captureBtn.setAttribute("disabled", true);
            return;
        }

        numPictures++;

        const context = canvas.getContext("2d");
        const save_scaling = 1 / 2;
        const show_scaling = 1 / 4;

        canvas.width = width * save_scaling;
        canvas.height = height * save_scaling;
        context.drawImage(video, 0, 0, width * save_scaling, height * save_scaling);

        // save 1/2 scaled
        let data = canvas.toDataURL("image/jpeg");
        data = data.split(";base64,")[1];
        images.push(data);

        canvas.width = width * show_scaling;
        canvas.height = height * show_scaling;
        context.drawImage(video, 0, 0, width * show_scaling, height * show_scaling);

        // show 1/4 scaled
        data = canvas.toDataURL("image/jpeg");
        capture = document.createElement("img");
        capture.setAttribute("src", data);
        outputs.appendChild(capture);
    }

</script>
{% endblock %}