{% extends 'index.html' %}

{% block head %}{% endblock %}
{% block title %}<h2>Registerd Users</h2>{% endblock %}
{% block body %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item in values %}
    <div class="col">
        <div class="card h-100 shadow">
            <image class="card-img-top" src="{{ url_for('download', upload_id=item.user_id) }}"></image>
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text"></p>
                <button type="button" class="btn btn-danger btn-sm delete-btn" data-toggle="modal"
                    data-target="#deleteModal{{ item.user_id }}">delete user</button>
                <!-- delete modal -->
                <div class="modal delete" id="deleteModal{{ item.user_id }}" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>delete user <i class="fa fa-lock"></i></h4>
                            </div>
                            <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to
                                delete
                                {{item.name}}?</div>
                            <div class="modal-footer">
                                <form action="{{url_for('deleteUser')}}" method="post">
                                    <input type="hidden" name="user_id" value="{{ item.user_id }}">
                                    <button type="submit" class="btn btn-danger btn-sm" name="delete"
                                        value="{{item.name}}">delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Created at {{ item.created_at.strftime("%b %d %Y ") }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}